---
import { siteInfo } from "@/const/site-info"

type Props = {
  title: string
  description: string
  image: string | undefined
  canonical?: string
  robots?: string
}

const { title, description, image, canonical, robots } = Astro.props
---

<title>{title}</title>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, viewport-fit=cover"
/>

<meta
  name="theme-color"
  content="#ffffff"
  media="(prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content="#000000"
  media="(prefers-color-scheme: dark)"
/>

<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>

<link
  rel="preload"
  href="/fonts/Nunito-VariableFont.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>

<meta
  name="description"
  content={description}
/>

{
  canonical && (
    <link
      rel="canonical"
      href={canonical}
    />
  )
}

{
  robots && (
    <meta
      name="robots"
      content={robots}
    />
  )
}

<meta
  property="og:url"
  content={siteInfo.seo.siteUrl}
/>
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:title"
  content={title}
/>
<meta
  property="og:description"
  content={description}
/>
<meta
  property="og:image"
  content={image}
/>
<meta
  property="og:locale"
  content="es_CO"
/>
<meta
  property="og:site_name"
  content={title}
/>

<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  name="twitter:site"
  content="@iangelmanuel"
/>
<meta
  name="twitter:creator"
  content="@iangelmanuel"
/>
<meta
  name="twitter:title"
  content={title}
/>
<meta
  name="twitter:description"
  content={description}
/>
<meta
  name="twitter:image"
  content={image}
/>
