---
import { Badge } from "@/components/ui/badge"
import type { LanguageData } from "@/types/language"

type Props = {
  t: LanguageData
}

const { t } = Astro.props
---

<section
  id="about"
  class="compact-section space-y-10 lg:pt-16"
>
  <div class="container-width py-4 sm:py-0">
    <h2 class="section-initial-title">
      {t.about.title}
    </h2>
    <div
      class="text-muted-foreground space-y-3 text-sm sm:space-y-4 sm:text-base"
    >
      <p>{t.about.description1}</p>
      <p>{t.about.description2}</p>
    </div>
  </div>

  <div class="container-width">
    <div class="mb-3">
      <h2 class="section-initial-title">
        {t.about.skillsAndTechnologies.title}
      </h2>
    </div>

    <div class="space-y-3">
      {
        t.about.skillsAndTechnologies.skills.map(({ label, skills }) => (
          <div class="space-y-1">
            <h3 class="text-sm font-medium tracking-wider uppercase">
              {label}
            </h3>
            <div class="flex flex-wrap gap-3">
              {skills.map((skill) => (
                <Badge className="">{skill}</Badge>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
